<h1>
	<%= @task.title %>
</h1>

<h4 class = "task-description">
	<%= @task.details %>
</h4>

<h4>
    <%= check_box "task", "completed", {:checked => @task.completed, :disabled => true} %> <!-- how can this be a class -->
	This task is not completed yet
</h4>

<%= link_to 'Back to list', tasks_path %>

<%= link_to 'Edit task', edit_task_path %>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
